/* pertama */
        /* body {
            font-family: Arial, sans-serif;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        

        .containers {
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            position: relative;
            width: 768px;
            max-width: 100%;
            min-height: 480px;
            overflow: hidden;
        }

        .form-containers {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }

        .sign-up-containers {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }

        .sign-in-containers {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        .containers.right-panel-active .sign-up-containers {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
        }

        .containers.right-panel-active .sign-in-containers {
            transform: translateX(100%);
            z-index: 1;
        }

        .overlay-containers {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
        }

        .overlay {
            background: #5b5658;
            background: linear-gradient(to right, #343a40, #777777);
            color: #ffffff;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }

        .containers.right-panel-active .overlay-containers {
            transform: translateX(-100%);
        }

        .containers.right-panel-active .overlay {
            transform: translateX(50%);
        }

        .overlay-panel {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 50%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }

        .overlay-left {
            transform: translateX(-20%);
        }

        .containers.right-panel-active .overlay-left {
            transform: translateX(0);
        }

        .overlay-right {
            right: 0;
            transform: translateX(0);
        }

        .containers.right-panel-active .overlay-right {
            transform: translateX(20%);
        }

        button {
            border-radius: 20px;
            border: 1px solid #FE9900;
            background-color: #FE9900;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }

        button.ghost {
            background-color: transparent;
            border-color: #ffffff;
        }

        form {
            background-color: #38444a;
            color: #f57921;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }

        input {
            background-color: #f57921;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        } */

        /* kedua */
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          color: #EEEEEE;
        }
        
        html,body{
          display: grid;
          height: 100%;
          width: 100%;
          place-items: center;

        }
        ::selection{
          background: #1a75ff;
          color: #fff;
        }
        .wrapper{
          overflow: hidden;
          max-width: 390px;
          background: #373A40;
          /* background:-webkit-linear-gradient(left,#004b36,#029ba0,#05bbdb
          , #00fff7); */
          padding: 30px;
          border-radius: 15px;
          box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
        }
        .wrapper .title-text{
          display: flex;
          width: 200%;
        }
        .wrapper .title{
          width: 50%;
          font-size: 35px;
          font-weight: 600;
          text-align: center;
          transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
        }
        .wrapper .slide-controls{
          position: relative;
          display: flex;
          height: 50px;
          width: 100%;
          overflow: hidden;
          margin: 30px 0 10px 0;
          justify-content: space-between;
          border: 1px solid lightgrey;
          border-radius: 15px;
        }
        .slide-controls .slide{
          height: 100%;
          width: 100%;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          line-height: 48px;
          cursor: pointer;
          z-index: 1;
          transition: all 0.6s ease;
        }
        .slide-controls label.signup{
          color: #000;
        }
        .slide-controls .slider-tab{
          position: absolute;
          height: 100%;
          width: 50%;
          left: 0;
          z-index: 0;
          border-radius: 15px;
          background: -webkit-linear-gradient(left,#603900,#DC5F00,#DC5F00
        , #DC5F00);
          transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
        }
        input[type="radio"]{
          display: none;
        }
        #signup:checked ~ .slider-tab{
          left: 50%;
        }
        #signup:checked ~ label.signup{
          color: #fff;
          cursor: default;
          user-select: none;
        }
        #signup:checked ~ label.login{
          color: #DC5F00;
        }
        #login:checked ~ label.signup{
          color: #DC5F00;
        }
        #login:checked ~ label.login{
          cursor: default;
          user-select: none;
        }
        .wrapper .form-container{
          width: 100%;
          overflow: hidden;
        }
        .form-container .form-inner{
          display: flex;
          width: 200%;
        }
        .form-container .form-inner form{
          width: 50%;
          transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
        }
        .form-inner form .field{
          height: 50px;
          width: 100%;
          margin-top: 20px;
        }
        .form-inner form .field input{
          height: 100%;
          width: 100%;
          outline: none;
          padding-left: 15px;
          border-radius: 15px;
          border: 1px solid lightgrey;
          border-bottom-width: 2px;
          font-size: 17px;
          transition: all 0.3s ease;
        }
        .form-inner form .field input:focus{
          border-color: #1a75ff;
          /* box-shadow: inset 0 0 3px #fb6aae; */
        }
        .form-inner form .field input::placeholder{
          color: #999;
          transition: all 0.3s ease;
        }
        form .field input:focus::placeholder{
          color: #1a75ff;
        }
        .form-inner form .pass-link{
          margin-top: 5px;
        }
        .form-inner form .signup-link{
          text-align: center;
          margin-top: 30px;
        }
        .form-inner form .pass-link a,
        .form-inner form .signup-link a{
          color: #1a75ff;
          text-decoration: none;
        }
        .form-inner form .pass-link a:hover,
        .form-inner form .signup-link a:hover{
          text-decoration: underline;
        }
        form .btn{
          height: 50px;
          width: 100%;
          border-radius: 15px;
          position: relative;
          overflow: hidden;
        }
        form .btn .btn-layer{
          height: 100%;
          width: 300%;
          position: absolute;
          left: -100%;
          /* background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
        , #0073e6); */
        background: #DC5F00;
          border-radius: 15px;
          transition: all 0.4s ease;;
        }
        form .btn:hover .btn-layer{
          left: 0;
        }
        form .btn input[type="submit"]{
          height: 100%;
          width: 100%;
          z-index: 1;
          position: relative;
          background: none;
          border: none;
          color: #fff;
          padding-left: 0;
          border-radius: 15px;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
        }
        /* Show password */
        .show-password {
          display: flex;
          justify-content: right;
          align-items: center;
      }

      .show-password input {
          margin-right: 10px; /* Memberikan jarak antara checkbox dan teks */
      }